<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To activate you account please follow this link: <a href="<%= @url %>">Click here</a>
    </p>
  </body>
</html>
